@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 540px;
    width: 268px;
    background-image: url(../imagens/frame-iphone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#tela {
    position: relative;
    top: 71px;
    left: 20px;
    width: 228px;
    height: 402px;
}

#sociais {
    text-align: center;
    padding-top: 10px;
}

#sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    box-sizing: border-box; /* Faz com que a bordar faça parte da box */
}

#sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    transition: transform .3s;
}