@charset "UTF-8";

* {
    box-sizing: border-box;
}

.flex-pai {
    background-color: blue;
    height: 500px;
    display: flex;

    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;

    justify-content: space-around; /* Centraliza horizontal */
    align-items: center; /* Centraliza vertical */
    align-content: center;
}

.flex-pai > div {
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    text-align: center;

    flex-grow: 1;
}